<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="40" src="assets/logo/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>