<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="40" src="assets/logo/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-slider">
        <img src="assets/images/slider-2.jpg">
      </div>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none">
    <ion-label>Apa yang Anda cari?</ion-label>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-item>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col>
        <img class="ic-main" src="assets/icon/house.png" height="42" width="42">
        <div class="ion-text-center">
          <p>Rumah</p>
        </div>
      </ion-col>
      <ion-col>
        <img class="ic-main" src="assets/icon/company.png" height="42" width="42">
        <div class="ion-text-center">
          <p>Ruko</p>
        </div>
      </ion-col>
      <ion-col>
        <img class="ic-main" src="assets/icon/land.png" height="42" width="42">
        <div class="ion-text-center">
          <p>Tanah</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>